body {
  height: 100vh;
  position: relative;
}

.board thead {
  font-size: 50px;
  background-color: #ff0;
}

.board thead th {
  width: 700px;
}

.back {
  width: 300px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 45%;
  margin-bottom: 50px;
  font-size: 40px;
  background-color: pink;
}
