body {
  background-image: url(../images/webBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.fish img {
  width: 200px;
  position: absolute;
  top: 30%;
}

.score {
  font-size: 80px;
  color: #fff;
}

.move {
  /* transform: translate(350px, 0); */
}

button {
  border-radius: 50%;
  box-shadow: 10px 10px rgba(100, 100, 100, .5);
  outline: 0;
  border: 0;
  position: absolute;
  bottom: 50px;
  left: 45%;
}

button:active {
  background-color: #f00;;
}

button img {
  width: 150px;
}
