body {
  background-color: #ff0;
}

.timeSet {
  font-size: 80px;
  margin: 0;
}

.seat {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.player img {
  display: block;
}

.player span {
  display: block;
  text-align: center;
  font-size: 50px;
}

.play {
  display: block;
  width: 300px;
  height: 100px;
  font-size: 50px;
  margin: auto;
  background-color: pink;
  text-align: center;
  text-decoration: none;
}

