h1, h2, p, body {
  margin: 0;
}

body {
  background-image: url(../images/indexBG.jpeg);
  background-size: cover;
}

.user input {
  display: block;
  font-size: 50px;
  width: 500px;
  height: 100px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 0 0 1em #222;
  outline: 0;
  border: 0;
  color: #444;
  padding-left: 30px;
  opacity: .8;
}

.user button {
  display: block;
  height: 200px;
  width: 500px;
  margin: auto;
  background-color: #f8f7f2;
  opacity: .8;
  margin-bottom: 100px;
  color: #444;
  border-radius: 20px;
  box-shadow: 0 0 1em #222;
}

.user button h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.user button:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10em rgb(255, 6, 6);
  color: #fff;
}

.status {
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}










